## # Load Iris dataset & Get Iris DataFrame

In [1]:
from sklearn.datasets import load_iris
import pandas as pd

iris_bunch = load_iris()
df_iris = pd.DataFrame(iris_bunch.data, columns=iris_bunch.feature_names)
df_iris['species'] = pd.Series(iris_bunch.target).map({0:'setosa', 1:'versicolor', 2:'virginica'})
df_iris.columns = ['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm', 'species']
df_iris.dropna(how="all", inplace=True)

display(df_iris.shape, df_iris.head(2), df_iris.tail(2))

(150, 5)

   sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm species
0              5.1             3.5              1.4             0.2  setosa
1              4.9             3.0              1.4             0.2  setosa

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [2]:
# df_iris.to_csv('../Lectures_data/iris_df.csv', index=False)

In [3]:
#### We can also easily load data as dataframe using seaborn package
# import seaborn as sns
# iris = sns.load_dataset("iris")          # 붓꽃 데이터
# titanic = sns.load_dataset("titanic")    # 타이타닉호 데이터
# tips = sns.load_dataset("tips")          # 팁 데이터
# flights = sns.load_dataset("flights")    # 여객운송 데이터

## # Pre-processing

In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv('../Lectures_data/iris_df.csv')
display(df.shape, df.head(2))

(150, 5)

   sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm species
0              5.1             3.5              1.4             0.2  setosa
1              4.9             3.0              1.4             0.2  setosa

In [5]:
df.index = ['i'+str(i) for i in range(701,851)]
display(df.head(2), df.tail(2))

      sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm species
i701              5.1             3.5              1.4             0.2  setosa
i702              4.9             3.0              1.4             0.2  setosa

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
i849,6.2,3.4,5.4,2.3,virginica
i850,5.9,3.0,5.1,1.8,virginica

In [6]:
d = df.sample(frac=.05, random_state=1)   # parameter: n, frac, random_state...
d

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
i715,5.8,4.0,1.2,0.2,setosa
i799,5.1,2.5,3.0,1.1,versicolor
i776,6.6,3.0,4.4,1.4,versicolor
i717,5.4,3.9,1.3,0.4,setosa
i832,7.9,3.8,6.4,2.0,virginica
i757,6.3,3.3,4.7,1.6,versicolor
i842,6.9,3.1,5.1,2.3,virginica
i745,5.1,3.8,1.9,0.4,setosa

## # loc

In [7]:
d.loc['i799']

sepal_length_cm           5.1
sepal_width_cm            2.5
petal_length_cm           3.0
petal_width_cm            1.1
species            versicolor
Name: i799, dtype: object

#### ## adjust row side

In [8]:
print(d.shape); d.head(5)

(8, 5)

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
i715,5.8,4.0,1.2,0.2,setosa
i799,5.1,2.5,3.0,1.1,versicolor
i776,6.6,3.0,4.4,1.4,versicolor
i717,5.4,3.9,1.3,0.4,setosa
i832,7.9,3.8,6.4,2.0,virginica

In [9]:
d.loc['i799', 'sepal_width_cm']

2.5

In [10]:
d.loc[['i799','i717'], 'sepal_width_cm']

i799    2.5
i717    3.9
Name: sepal_width_cm, dtype: float64

In [11]:
d.loc['i799':'i717', 'sepal_width_cm']

i799    2.5
i776    3.0
i717    3.9
Name: sepal_width_cm, dtype: float64

In [12]:
d.loc[:, 'sepal_width_cm']

i715    4.0
i799    2.5
i776    3.0
i717    3.9
i832    3.8
i757    3.3
i842    3.1
i745    3.8
Name: sepal_width_cm, dtype: float64

#### ## adjust column side

In [13]:
print(d.shape); d.head(5)

(8, 5)

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
i715,5.8,4.0,1.2,0.2,setosa
i799,5.1,2.5,3.0,1.1,versicolor
i776,6.6,3.0,4.4,1.4,versicolor
i717,5.4,3.9,1.3,0.4,setosa
i832,7.9,3.8,6.4,2.0,virginica

In [14]:
d.loc['i799', 'sepal_width_cm']

2.5

In [15]:
d.loc['i799', ['sepal_length_cm','sepal_width_cm']]

sepal_length_cm    5.1
sepal_width_cm     2.5
Name: i799, dtype: object

In [16]:
d.loc['i799', 'sepal_length_cm':'petal_length_cm']

sepal_length_cm    5.1
sepal_width_cm     2.5
petal_length_cm    3.0
Name: i799, dtype: object

In [17]:
d.loc['i799', :]

sepal_length_cm           5.1
sepal_width_cm            2.5
petal_length_cm           3.0
petal_width_cm            1.1
species            versicolor
Name: i799, dtype: object

In [18]:
d.loc[:, :]

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
i715,5.8,4.0,1.2,0.2,setosa
i799,5.1,2.5,3.0,1.1,versicolor
i776,6.6,3.0,4.4,1.4,versicolor
i717,5.4,3.9,1.3,0.4,setosa
i832,7.9,3.8,6.4,2.0,virginica
i757,6.3,3.3,4.7,1.6,versicolor
i842,6.9,3.1,5.1,2.3,virginica
i745,5.1,3.8,1.9,0.4,setosa

## # iloc

In [19]:
d.iloc[1]

sepal_length_cm           5.1
sepal_width_cm            2.5
petal_length_cm           3.0
petal_width_cm            1.1
species            versicolor
Name: i799, dtype: object

#### ## adjust row side

In [20]:
print(d.shape); d.head(5)

(8, 5)

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
i715,5.8,4.0,1.2,0.2,setosa
i799,5.1,2.5,3.0,1.1,versicolor
i776,6.6,3.0,4.4,1.4,versicolor
i717,5.4,3.9,1.3,0.4,setosa
i832,7.9,3.8,6.4,2.0,virginica

In [21]:
d.iloc[1, 2]

3.0

In [22]:
d.iloc[[1,2], 2]

i799    3.0
i776    4.4
Name: petal_length_cm, dtype: float64

In [23]:
d.iloc[1:3, 2]

i799    3.0
i776    4.4
Name: petal_length_cm, dtype: float64

In [24]:
d.iloc[:, 2]

i715    1.2
i799    3.0
i776    4.4
i717    1.3
i832    6.4
i757    4.7
i842    5.1
i745    1.9
Name: petal_length_cm, dtype: float64

#### ## adjust column side

In [25]:
print(d.shape); d.head(5)

(8, 5)

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
i715,5.8,4.0,1.2,0.2,setosa
i799,5.1,2.5,3.0,1.1,versicolor
i776,6.6,3.0,4.4,1.4,versicolor
i717,5.4,3.9,1.3,0.4,setosa
i832,7.9,3.8,6.4,2.0,virginica

In [26]:
d.iloc[2, 1]

3.0

In [27]:
d.iloc[2, [1,2]]

sepal_width_cm     3.0
petal_length_cm    4.4
Name: i776, dtype: object

In [28]:
d.iloc[2, 1:3]

sepal_width_cm     3.0
petal_length_cm    4.4
Name: i776, dtype: object

In [29]:
d.iloc[2, :]

sepal_length_cm           6.6
sepal_width_cm            3.0
petal_length_cm           4.4
petal_width_cm            1.4
species            versicolor
Name: i776, dtype: object

In [30]:
d.iloc[:, :]

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
i715,5.8,4.0,1.2,0.2,setosa
i799,5.1,2.5,3.0,1.1,versicolor
i776,6.6,3.0,4.4,1.4,versicolor
i717,5.4,3.9,1.3,0.4,setosa
i832,7.9,3.8,6.4,2.0,virginica
i757,6.3,3.3,4.7,1.6,versicolor
i842,6.9,3.1,5.1,2.3,virginica
i745,5.1,3.8,1.9,0.4,setosa