## # Load Iris dataset & Get Iris DataFrame

In [1]:
import pandas as pd
import seaborn as sns

df_iris = sns.load_dataset("iris")          # 붓꽃 데이터

df_iris.to_csv('./data/iris_df.csv', index=False)
df = pd.read_csv('./data/iris_df.csv')

display(df.shape, df.head(2), df.tail(2))

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [2]:
#### We can also easily load other datasets using seaborn package
# df_titanic = sns.load_dataset("titanic")    # 타이타닉호 데이터
# df_tips = sns.load_dataset("tips")          # 팁 데이터
# df_flights = sns.load_dataset("flights")    # 여객운송 데이터

In [3]:
# #### We can also use load_iris() from sklearn
# from sklearn.datasets import load_iris
# import pandas as pd

# iris_bunch = load_iris()
# df_iris = pd.DataFrame(iris_bunch.data, columns=iris_bunch.feature_names)
# df_iris['species'] = pd.Series(iris_bunch.target).map({0:'setosa', 1:'versicolor', 2:'virginica'})
# df_iris.columns = ['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm', 'species']
# df_iris.dropna(how="all", inplace=True)

# display(df_iris.shape, df_iris.head(2), df_iris.tail(2))

## # Pre-processing

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
df_iris = sns.load_dataset("iris")
display(df.shape, df_iris.head(2))

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [5]:
df_iris.index = ['i'+str(i) for i in range(701,851)]
df = df_iris.sample(frac=.05, random_state=1)   # parameter: n, frac, random_state...
df

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa

# # DataFrame 'df'

In [6]:
df

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa

In [7]:
df.shape

(8, 5)

In [8]:
df.index

Index(['i715', 'i799', 'i776', 'i717', 'i832', 'i757', 'i842', 'i745'], dtype='object')

In [9]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

## # loc

#### ## single index

In [10]:
df

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa

In [11]:
df.loc['i799']

sepal_length           5.1
sepal_width            2.5
petal_length           3.0
petal_width            1.1
species         versicolor
Name: i799, dtype: object

In [12]:
df.loc[['i799', 'i832']]

      sepal_length  sepal_width  petal_length  petal_width     species
i799           5.1          2.5           3.0          1.1  versicolor
i832           7.9          3.8           6.4          2.0   virginica

In [13]:
df.loc['i799':'i832']

      sepal_length  sepal_width  petal_length  petal_width     species
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica

#### ## adjust row side

In [14]:
display(df.shape, df)

(8, 5)

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa

In [15]:
df.loc['i799', 'sepal_width']

2.5

In [16]:
df.loc[['i799','i717'], 'sepal_width']

i799    2.5
i717    3.9
Name: sepal_width, dtype: float64

In [17]:
df.loc['i799':'i717', 'sepal_width']

i799    2.5
i776    3.0
i717    3.9
Name: sepal_width, dtype: float64

In [18]:
df.loc[:, 'sepal_width']

i715    4.0
i799    2.5
i776    3.0
i717    3.9
i832    3.8
i757    3.3
i842    3.1
i745    3.8
Name: sepal_width, dtype: float64

#### ## adjust column side

In [19]:
display(df.shape, df)

(8, 5)

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa

In [20]:
df.loc['i799', 'sepal_width']

2.5

In [21]:
df.loc['i799', ['sepal_length','sepal_width']]

sepal_length    5.1
sepal_width     2.5
Name: i799, dtype: object

In [22]:
df.loc['i799', 'sepal_length':'petal_length']

sepal_length    5.1
sepal_width     2.5
petal_length    3.0
Name: i799, dtype: object

In [23]:
df.loc['i799', :]

sepal_length           5.1
sepal_width            2.5
petal_length           3.0
petal_width            1.1
species         versicolor
Name: i799, dtype: object

In [24]:
df.loc[:, :]

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa

## # iloc

In [25]:
df

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa

In [26]:
df.iloc[1]

sepal_length           5.1
sepal_width            2.5
petal_length           3.0
petal_width            1.1
species         versicolor
Name: i799, dtype: object

In [27]:
df.iloc[[1,4]]

      sepal_length  sepal_width  petal_length  petal_width     species
i799           5.1          2.5           3.0          1.1  versicolor
i832           7.9          3.8           6.4          2.0   virginica

In [28]:
df.iloc[1:4]   # 주의! 인덱스 -1까지

      sepal_length  sepal_width  petal_length  petal_width     species
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa

#### ## adjust row side

In [29]:
display(df.shape, df)

(8, 5)

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa

In [30]:
df.iloc[1, 2]

3.0

In [31]:
df.iloc[[1,2], 2]

i799    3.0
i776    4.4
Name: petal_length, dtype: float64

In [32]:
df.iloc[1:3, 2]

i799    3.0
i776    4.4
Name: petal_length, dtype: float64

In [33]:
df.iloc[:, 2]

i715    1.2
i799    3.0
i776    4.4
i717    1.3
i832    6.4
i757    4.7
i842    5.1
i745    1.9
Name: petal_length, dtype: float64

#### ## adjust column side

In [34]:
display(df.shape, df)

(8, 5)

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa

In [35]:
df.iloc[2, 1]

3.0

In [36]:
df.iloc[2, [1,2]]

sepal_width     3.0
petal_length    4.4
Name: i776, dtype: object

In [37]:
df.iloc[2, 1:3]

sepal_width     3.0
petal_length    4.4
Name: i776, dtype: object

In [38]:
df.iloc[2, :]

sepal_length           6.6
sepal_width            3.0
petal_length           4.4
petal_width            1.4
species         versicolor
Name: i776, dtype: object

In [39]:
df.iloc[:, :]

      sepal_length  sepal_width  petal_length  petal_width     species
i715           5.8          4.0           1.2          0.2      setosa
i799           5.1          2.5           3.0          1.1  versicolor
i776           6.6          3.0           4.4          1.4  versicolor
i717           5.4          3.9           1.3          0.4      setosa
i832           7.9          3.8           6.4          2.0   virginica
i757           6.3          3.3           4.7          1.6  versicolor
i842           6.9          3.1           5.1          2.3   virginica
i745           5.1          3.8           1.9          0.4      setosa