In [3]:
import io
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [4]:
txt = io.StringIO('''
col1,col2
a,1
b,2
''')
df = pd.read_csv(txt,sep=',')
df

  col1  col2
0    a     1
1    b     2

In [5]:
df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})
q = ''' select a as col_a, b as col_b from df '''  
d = pysqldf(q); d

   col_a  col_b
0      1      4
1      2      5
2      3      6