In [1]:
print(3)

3

In [2]:
'university'

'university'

In [4]:
'university'[0]

'u'

In [6]:
['a','b','c'][0]

'a'

In [13]:
x = input()

z

In [14]:
if x in ['a','e','i','o','u']:
    print('모음')
else:
    print('자음')

자음

In [17]:
a = 'once'
b = ['t','w','i','c','e']

In [19]:
print('o' in a) # True

True

In [20]:
print('z' in b) # False

False

#### 질문.1
 - 아까 소개해주셨던 선생님 홈페이지는 어디서 볼 수 있나요?!

#### 답변.1
 - 제 프로필은 '링크드인'이라는 플랫폼의 페이지를 보여드린 것인데요, 계정이 있으시다면 로그인 하시면 보실 수 있으실 거에요~! 우선은 링크 공유드립니다. www.linkedin.com/in/da-devangelist
  
 - 또 추가로, 깃허브라는 제 프로필 페이지와 오픈카톡 남겨드리니 편하게 문의주세요~ 
   - 깃허브: https://github.com/hwaneest
   - 오픈카톡: https://open.kakao.com/me/lecturek

#### 질문.2
 - 리스트에 숫자를 넣고, append메서드로 리스트에 자료를 추가할 때 int로 형을 지정하지않아도 자동으로 int형으로 들어가는걸까요?

#### 답변.2
 - 리스트에 자료를 append로 추가할 때는 숫자를 입력하게 되면 숫자로 들어가게 되고, 문자를 입력하게 되면 문자로 들어가게 됩니다. 기본적으로 따옴표를 써주게 되면 문자열로 인식하고 따옴표 없이 숫자를 쓰게 되면 int나 float 등의 숫자형으로 인식하게 됩니다. 아래 코드를 참고해보세요~

#### 질문.3
 - while True라는 구문은 결국 횟수제한없이 반복하겠다는 말인데, break문으로 조건을 걸어서 중단하는 개념일까요?

#### 답변.3
 - 'while True:' 구문은 말씀대로 횟수제한 없이 계속 반복하겠다는 뜻은 맞습니다. 그리고 'break'라는 조건을 걸어서 중단하게끔 쓰는 개념도 맞는데요, 
정확하게는 'if & break'를 함께 사용해서 '특정 조건이 될 때까지는 계속해서 반복해주는' 
작업이 필요할 경우에 이렇게 짜주고는 합니다.

 - 데이터를 처리할 때에 '어떤 특정한 조건'이 되는 경우가 나타나기 전까지는 지속적으로 반복하고 싶은 경우에 사용하게 되는 것이에요. 사실 일반적으로 분석을 진행할 때에 while문 방식의 반복이 필요한 경우는 매우 적다고 보시면 됩니다. (for문이나 comprehension 등 다른 기법들을 통해서 반복해줄 수 있기 때문이에요~)

In [22]:
li = [1,2,3]
print(li)

[1, 2, 3]

In [23]:
li.append(7)
print(li)

[1, 2, 3, 7]

In [24]:
li.append('7')
print(li)

[1, 2, 3, 7, '7']

In [44]:
time.time()

1630128587.978806

In [46]:
import time

start = time.time()

sum = 0
for i in range(100000):
    sum = 0

end = time.time()

print (end - start)

0.005794048309326172

In [47]:
li = [1,2,3,4]
print(li.pop(0))

1

In [48]:
li

[2, 3, 4]

In [49]:
seq = ['a','b','c','a']
seq.count('a')

2

In [50]:
tu = (1,2,3)
print(tu)

(1, 2, 3)

In [51]:
type(tu)

tuple

In [52]:
tuu = 1,2,3

In [54]:
print(tuu)

(1, 2, 3)

In [55]:
type(tuu)

tuple

In [56]:
'a','b'

('a', 'b')

In [78]:
def plusDouble(a, b):
    c = a + b

In [79]:
plusDouble(3,4)

In [61]:
plusDouble(3,4)

14

In [26]:
sum = 0

In [28]:
for i in [1,2,3]:
    print(i)

1
2
3

In [30]:
sum = 0
for i in [1,2,3]:
    sum = sum + i
    print('hi')

print(sum)
    
#     # 명령을 1번 실행
#     i = 1
#     sum = 0 + 1  >>> sum:1
    
#     # 명령을 2번째 실행
#     i = 2
#     sum = 1 + 2. >>> sum:3
        
#     # 명령을 3번째 실행
#     i = 3
#     sum = 3 + 3   >>> sum:6

hi
hi
hi
6

In [36]:
length = 0
for i in 'abcdefg':
    print(i)
    print('hi')
    print('hello')
    print('----------')

a
hi
hello
----------
b
hi
hello
----------
c
hi
hello
----------
d
hi
hello
----------
e
hi
hello
----------
f
hi
hello
----------
g
hi
hello
----------

In [32]:
length

7

In [40]:
i = 1
sum = 0

while i<5:
    sum = sum + i
    i = i + 1
    
#     첫 조건만족
#     i:1, sum:0
#     sum = 0 + 1 >> sum:1
#     i = 1 + 1   >> i:2
        
#     두번째도 조건 만족
#     sum = 1 + 2  >> sum:3
#     i = 2 + 1    >> i:3
    
#     세번째도 조건만족
#     sum = 3 + 3  >> sum:6
#     i = 3 + 1.   >.  i:4
    
#     네번째도 조건만족
#     sum = 6 + 4  >> sum = 10
#     i = 4 + 1     >  i:5
    
print(sum) #10

10

In [ ]:
#

#### input( )

In [7]:
my_var = 77

In [8]:
print(my_var)

77

In [10]:
2732 = 77

SyntaxError: cannot assign to literal (<ipython-input-10-639d68bac67c>, line 1)

In [8]:
class Human:
    name = 'Bob'
    age = 10
    def exercise(self):
        print('tennis')
        
ins = Human()

In [9]:
ins.name

'Bob'

In [10]:
ins.age

10

In [11]:
ins.exercise()

tennis

In [15]:
st = 'abc'
st.count('b')

1

In [16]:
'1 2 3 4 5'.split()

['1', '2', '3', '4', '5']